<div class="center-container">
    <mat-card class="Register">
      <mat-card-header>
        <mat-card-title>Register</mat-card-title>
      </mat-card-header>
  
      <mat-card-content>
        <form [formGroup]="firstFormGroup" class="aligntext_center">
          <div class="form-field">
            <mat-form-field class="form-full-height">
              <mat-label>First Name</mat-label>
              <input matInput formControlName="firstNameCtrl" required>
            </mat-form-field>
          </div>
          <div class="form-field">
            <mat-form-field class="form-full-height">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="lastNameCtrl" required>
            </mat-form-field>
          </div>
          <div class="form-field">
          <mat-form-field class="form-full-height">
            <mat-label>Email</mat-label>
            <input matInput formControlName="emailCtrl" required>
            
          </mat-form-field>
        </div>
        <div class="form-field">
          <mat-form-field class="form-full-height">
            <mat-label>Password</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Password" formControlName="passwordCtrl" required>
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
              [attr.aria-label]="hidePassword ? 'Show password' : 'Hide password'" class="show-password-button">
              <mat-icon class="show-password-icon">{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            
          </mat-form-field>
        </div>
        <div class="form-field">
          <mat-form-field class="form-full-height">
            <mat-label>Mobile Number</mat-label>
            <input matInput formControlName="mobileCtrl" required>
          </mat-form-field>
        </div>
          <!-- Add other form fields as needed -->
        </form>
      </mat-card-content>
  
      <mat-card-actions>
        <button mat-raised-button color="primary" >Register</button>
      </mat-card-actions>
    </mat-card>
  </div>
  