.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-details {
  width: 100%;
  max-width: 400px; /* Adjust the maximum width as needed */
  margin-bottom: 20px; /* Adjust the margin between cards as needed */
}

.product-image {
  width: 100%;
  height: 200px; /* Set a fixed height for the product images */
  object-fit: cover;
}

.align-details {
  display: flex;
  flex-direction: column;
}

.align-bookname,
.align-desc {
  margin-bottom: 10px; /* Adjust the margin between text elements as needed */
}

.quantity {
  width: 50px; /* Adjust the width of the quantity input field as needed */
}

.total-amount,
.proceed-to-checkout {
  margin-top: 20px; /* Adjust the margin between the total amount and the proceed to checkout button */
}
