<a (click)="Backtoresults()">
    <mat-icon>keyboard_arrow_left</mat-icon>
    Back to Results
</a>
<div *ngFor="let item of cart.cart_results">
    <mat-card class="book_details" *ngIf="item.quantity>0">
        <mat-card-content>
            <div class="align_image">
               
         <img mat-card-image src={{item.product.productImage}} alt="Photo of a product" class="product_image"> 
            </div>
            <div class="product-description">{{ item.Details }}</div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="total-amount aligntext-center">Total amount is {{ total_amount }}$</div>
      <div class="proceed-to-checkout aligntext-center">
        <button mat-raised-button color="primary" (click)="checkout()">Proceed to Checkout</button>
      </div>
    </mat-card>
  </div>
  