<div class="login-container">
    <div class="title"><h2>Login</h2></div>
    <form [formGroup]="loginFormGroup" (ngSubmit)="login()">
      <div class="form-group">
        <label for="username">Username</label>
        <!-- Use the formControlName directive to bind the input to the 'UsernameCtrl' control -->
        <input type="text" id="username" name="username" formControlName="UsernameCtrl" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <!-- Use the formControlName directive to bind the input to the 'PasswordCtrl' control -->
        <input type="password" id="password" name="password" formControlName="PasswordCtrl" required>
      </div>
      <button type="submit">Login</button>
    </form>
    <a (click)="Register()" class="align_hyperlink">Don't have an account? Register here</a>
  </div>
  