.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.login-card {
  background-color: #cdf8f7; /* Add your desired background color here */
}

.login-card {
  width: 500px;
  height: auto; /* Adjust the width as needed */
}

.align-hyperlink {
  display: block;
  margin-top: 10px;
}

.register-link {
  color: rgb(34, 0, 128); /* Change the color to your preference */
  cursor: pointer;
}
